body {
    font-family: 'Inter', sans-serif;
    background: #212121;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 677px;
    height: 77px;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-top: 80px;
}

.calcul {
    width: 920px;
    height: 1080px;
    margin-top: 69px;
    margin-right: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rot-title {
    width: 146px;
    height: 44px;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.rotation {
    margin-top: 61px;
    position: relative;
}

select#rotations,
select#pers {
    width: 300px;
    height: 50px;
    background-color: #4B4B4B;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFB3B3;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(/img/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 17px) center;
}

.minus {
    width: 24px;
    height: 24px;
    padding-left: 1px;
    float: left;
}

.block_minus {
    padding: 12px 12px;
    margin-right: 21px;
    width: 25px;
    background: #FF6262;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 45px;
    padding-bottom: 30px;
}

.plus {
    width: 24px;
    height: 24px;
    padding-left: 1px;
    float: left;
}

.block_plus {
    padding: 12px 12px;
    margin-right: 21px;
    width: 25px;
    background: #72F943;
    border: none;
    border-radius: 50px;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}

.settings {
    width: 70px;
    height: 70px;
    padding-left: 1px;
    float: left;
}

.block_settings {
    margin-top: -10px;
    width: 25px;
    line-height: 14px;
    cursor: pointer;
}

.block_bonus {
    width: 300px;
    height: 50px;
    display: flex;
    margin-left: 55px;
    position: absolute;
    margin-right: -350px;
    align-items: center;
}

.dmg_bonus_pct, .vaporize_output {
    background-color: #00FF75;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
    display: none;
}

.vaporize_output {
    background-color: #FCE5CD;;
}

#confirm_dmg_bonus_pct {
    border: none;
    width: 1ch;
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #00FF75;
    align-items: center;
    padding: 0;
    margin-top: 2px;
}

#confirm_dmg_bonus_pct:focus {
    outline: none;
}

.dmg_bonus_pct span {
    display: flex;
    flex-direction: row;
}

#hide_bonus {
    display: none;
}

.enter_bonus {
    position: absolute;
    width: 388px;
    padding-bottom: 15px;
    background: #4B4B4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    z-index: 1;
}

.table_enter table tr td {
    padding: 8px 0px;
    color: #FFFFFF;
}

.table_enter table tr td input {
    box-sizing: border-box;
    width: 144px;
    height: 25px;
    background: #2E2E2E;
    border: 0.5px solid #000000;
    margin-left: 28px;
    text-align: center;
    color: #FFFFFF;
}

.input_green {
    box-shadow: 0px 0px 15px 1px rgba(0, 255, 117, 0.25);
}

.react_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: #FFFFFF;
}

.react_mini_block {
    box-sizing: border-box; 
    width: 85px;
    height: 25px;
    background: #363636;
    border: 0.5px solid #000000;
    padding: 3px 0px;
    cursor: pointer;
    text-align: center;
}

.vaporize_active {
    box-sizing: border-box;
    width: 85px;
    height: 25px;
    background: #FCE5CD;
    color: #000000;
    border: 0.5px solid #000000;
    padding: 3px 0px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.without_react_active {
    box-sizing: border-box;
    width: 85px;
    height: 25px;
    background: #363636;
    border: 0.5px solid #000000;
    padding: 3px 0px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 15px 1px #000000;
}

.bonus-title {
    margin-top: 10px;
}